[Unit]
Description=Netflow to InfluxDB script
After=multi-user.target network.target network-online.target
# Place in /etc/systemd/system/
 
[Service]
User=root
Group=root
Type=simple
Restart=on-failure
# EnvironmentFile=/etc/NetFlux/netflow.env
# User=myuser
WorkingDirectory=/etc/NetFlux/HAOS/
ExecStart=/etc/NetFlux/HAOS/venv/bin/python3 /etc/NetFlux/HAOS/HAOSnetflow.py --serve-in-foreground
# ExecStart=/usr/bin/python3 /usr/bin/NetFlux/INFLUXDBmthrd.py
#StandardInput=tty-force

# Log file will be create if it doesn't exist
StandardOutput=append:/var/log/HAOSNetFlowInflux.log
StandardError=append:/var/log/HAOSNetFlowInflux.errlog

# StandardOutput=syslog
# StandardError=syslog
# SyslogIdentifier=NetFlowInflux
 
[Install]
WantedBy=multi-user.target
