[Unit]
Description=Netflow to InfluxDB script
After=multi-user.target network.target network-online.target
 
[Service]
Type=simple
Restart=on-failure
# EnvironmentFile=/etc/NetFlux/netflow.env
# User=myuser
WorkingDirectory=/etc/NetFlux/LH/
ExecStart=/etc/NetFlux/LH/venv/bin/python3 /etc/NetFlux/LH/LHnetflow.py --serve-in-foreground
# ExecStart=/usr/bin/python3 /usr/bin/NetFlux/INFLUXDBmthrd.py
# StandardInput=tty-force

# Log file will be create if it doesn't exist
StandardOutput=append:/var/log/LHNetFlowInflux.log
StandardError=append:/var/log/LHNetFlowInflux.errlog

# StandardOutput=syslog
# StandardError=syslog
# SyslogIdentifier=NetFlowInflux
 
[Install]
WantedBy=multi-user.target
